{% extends "base.html" %}

{% block content %}

<h1 style="color: #0bd6e1;">Bienvenido about :||</h1>
<h1></h1>

<h3 class="titulo-inicio">
  Acerca de mi como desarrollador
</h3>
<p class="parrafos">
  Experto en la creación de sitios web atractivos y funcionales, con experiencia en el diseño de interfaces de usuario intuitivas y responsivas. Apasionado por la programación y siempre en búsqueda de nuevos desafíos para seguir mejorando mis habilidades. Comprometido con la calidad y la eficiencia en cada proyecto en el que participo.
</p>
<p class="parrafos">
  Deseoso de explorar nuevas tecnologías y ampliar mis conocimientos en el desarrollo web. Además, me considero una persona proactiva, creativa y enfocada en ofrecer soluciones innovadoras a través del código. 
</p>
<p class="parrafos">
  Sigo en constante búsqueda de desafíos para mejorar y fortalecer mis habilidades como desarrollador web. Mi enfoque se centra en la calidad y la eficiencia en cada proyecto en el que participo, asegurándome de ofrecer soluciones innovadoras a través del código. Siempre estoy explorando nuevas tecnologías para expandir mis conocimientos y mantenerme actualizado en un campo tan dinámico como es el desarrollo web. Mi creatividad y proactividad son activos clave para enfrentar los retos que se presentan en esta industria. 
</p>
<h3>
  conclucion
</h3>
<p class="parrafos">
  puedes contar conmigo para el desarrollo de sitios web atractivos y funcionales, con interfaces intuitivas y responsivas. Mi pasión por la programación me impulsa a enfrentar nuevos desafíos y a mejorar constantemente mis habilidades. Siempre estoy en búsqueda de oportunidades para ampliar mis conocimientos en tecnologías web emergentes. Soy proactivo, creativo y me enfoco en encontrar soluciones innovadoras a través del código. Estoy comprometido con la calidad y la eficiencia en cada proyecto en el que participo. 
</p>

<details open class="parrafos">
  <summary>tarea uno</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </div>
</details>
<details class="parrafos">
  <summary>tarea dos</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ul>
  <li>Crear un proyecto con Django</li>
  <li>Crear un proyecto con html y css</li>
  <li>Crear el frontend con Django</li>
  <li>Agregar mas funcionalidad a interfaces de html y css</li>
</ul>
  </div>
</details>
<details class="parrafos">
  <summary>tarea tres</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ul>
  <li>Crear un proyecto con Django</li>
  <li>Crear un proyecto con html y css</li>
  <li>Crear el frontend con Django</li>
  <li>Agregar mas funcionalidad a interfaces de html y css</li>
</ul>
  </div>
</details>
<details class="parrafos">
  <summary>tarea cuatro</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ul>
  <li>Crear un proyecto con Django</li>
  <li>Crear un proyecto con html y css</li>
  <li>Crear el frontend con Django</li>
  <li>Agregar mas funcionalidad a interfaces de html y css</li>
</ul>
  </div>
</details>
<details class="parrafos">
  <summary>tarea cinco</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ul>
  <li>Crear un proyecto con Django</li>
  <li>Crear un proyecto con html y css</li>
  <li>Crear el frontend con Django</li>
  <li>Agregar mas funcionalidad a interfaces de html y css</li>
</ul>
  </div>
</details>
<details class="parrafos">
  <summary>tarea seis</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ul>
  <li>Crear un proyecto con Django</li>
  <li>Crear un proyecto con html y css</li>
  <li>Crear el frontend con Django</li>
  <li>Agregar mas funcionalidad a interfaces de html y css</li>
</ul>
  </div>
</details>
<details class="parrafos">
  <summary>tarea siete</summary>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <ol>
      <li>¿Que es el front-end?</li>
      <li>¿Que es el Back-end?</li>
      <li>¿Que es Base de datos?</li>
      <li>¿Que es Json?</li>
      <li>¿Que es Django?</li>
      <li>¿Que es JavaScript?</li>
      <li>¿Que es una Arquitectura?</li>
      <li>¿Que es un patron de diseño?</li>
    </ol>
    
  </div>
</details>
<details class="parrafos">
  <summary>tarea ocho</summary>
  <div>
    <ol>
      <li>¿Que es el front-end?</li>
      <li>¿Que es el Back-end?</li>
      <li>¿Que es Base de datos?</li>
      <li>¿Que es Json?</li>
      <li>¿Que es Django?</li>
      <li>¿Que es JavaScript?</li>
      <li>¿Que es una Arquitectura?</li>
      <li>¿Que es un patron de diseño?</li>
    </ol>    
  </div>
</details>

<h2>nombre creador {{ username }}</h2>

<p>
  Websit created by {{ username }}
</p>



{% endblock %}
